/* Custom styles */

/* Navigation */
.navbar {
  background-color: #ffffff; /* Change the background color as needed */
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #000000 !important; /* Change the text color as needed */
}

.navbar-toggler-icon {
  background-color: #f8f9fa; /* Change the color of the navbar toggler icon */
}

/* Header Section Styles */
.header-text {
  text-align: left;
  padding-top: 50px; /* Adjust as needed */
}

.header-text p {
  font-size: 1.5rem;
}

.header-text h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 10px; /* Adjust as needed */
}

/* Image Styles */
.col-lg-6 img {
  max-height: 350px;
  max-width: 100%;
}

/* About Section Styles */
#about {
  background-color: #f8f9fa;
  padding: 50px 0;
  font-size: 1.5rem;
}

.section-heading {
  color: #007bff;
}

/* Projects Section Styles */
#projects {
  text-align: center;
  padding: 20px;
}

.proj-container {
  margin: 0 auto;
  max-width: 1200px;
}

.proj-title {
  font-size: 2.5rem;
  color: #007bff;
  margin-bottom: 30px;
}

.proj-list {
  display: flex;
  justify-content: space-around;
}

.proj {
  width: 300px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.proj img {
  width: 100%;
  height: auto;
}

.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 20px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.proj:hover .layer {
  opacity: 1;
}

.project-name {
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}

#contact {
  background-color: #f8f9fa; /* Change the background color as needed */
  padding: 50px 0;
  text-align: center; /* Center align content */
}

.contact-title {
  margin-bottom: 30px;
}

#contact .contact-form {
  width: 40%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the form horizontally */
  border-radius: 8px; /* Adjust the value as needed */
  background-color: #fff; /* Optional: Set a background color for the form */
  padding: 15px; /* Optional: Add padding to the form */
}

/* Style for the form inputs and textarea */
#contact .cinputs,
#contact textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px; /* Adjust the value as needed */
}

/* Style for the submit button */
#contact .sub-btn {
  background-color: #007bff;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 4px; /* Adjust the value as needed */
  cursor: pointer;
}

/* Optional: Add hover effect to the submit button */
#contact .sub-btn:hover {
  background-color: #0056b3;
}

/* Footer Section Styles */
footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px 0;
}

.btn-outline-light {
  border-color: #ffffff;
  color: #ffffff;
}

.copyright {
  padding: 10px 10px;
}

.copyright-txt {
  font-size: 12px;
}

.fa-regular {
  font-size: 12px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header-text {
    text-align: center;
  }

  .header-text p,
  .header-text h1 {
    margin-top: 0;
  }
}


